*{
    margin:0;
    padding:0;
    font-family: Arial;
   }
   /* ELEMENT SELECTOR*/
   input[type="submit"]{
    padding: 8px;
    background-color: rgb(38, 0, 255);
    color:white;
    margin: 4px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

header{
    background-color: black;
    color: blue;
    font-size: larger;
    padding: 30px;
    text-align: center;
}
.nav-list{
    list-style: none;
    display:flex;
    justify-content: center;
    gap: 30px;

}
p{
 font-family: Arial, Helvetica, sans-serif;
 color:black;
 font-style: italic;
}

body{
 background-color:aqua;
 color: darkgrey;
}


h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
font-size: larger;
font-style: italic;
}

/*Descedant Selector*/
div h1{
    color:blue;
}

/*Child Selector*/
div > p {
    color: green;
}